*.py[cod]
*.log
*.swp
*.so
*.bak
.cache/*

fasttrips/Examples/*/output
fasttrips/Examples/*/*/output*
create_tableau_path_map/*

# Distribution / packaging
build/
dist/
fasttrips.egg-info/

# test
sfcta/
psrc/
run*/
output/