*.py[cod]
*.log
*.swp
*.so
*.bak
.cache/*

**/.ipynb_checkpoints/*

**/Examples/**/output*
create_tableau_path_map/*

# Distribution / packaging
build/
dist/
fasttrips.egg-info/

# test
sfcta/
psrc/
run*/

#PyCharm IDE
.idea/